<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .order_active {
        font-size: 1.2em;
        color: #F00;
    }
    .btns-active {
        color: #f00;
    }
    </style>
</head>
<body>
    <?php view('common.nav') ?>
    <div style="margin: 0 auto;">
        <form>
            关键字：
            <input type="text" name="keywords" value="<?=@$_GET['keywords']?>">
            发表日期：
            <input type="text" name="start_date" value="<?=@$_GET['start_date']?>"> ~
            <input type="text" name="end_date" value="<?=@$_GET['end_date']?>">
            是否显示：
            <input type="radio" name="is_show" value="" <?php if(!isset($_GET['is_show']) || $_GET['is_show'] == '') echo 'checked' ?>> 全部
            <input type="radio" name="is_show" value="0" <?php if(isset($_GET['is_show']) && $_GET['is_show'] == '0') echo 'checked' ?>> 不显示
            <input type="radio" name="is_show" value="1" <?php if(isset($_GET['is_show']) && $_GET['is_show'] == '1') echo 'checked' ?>> 显示
            <input type="submit" value="搜索">
        </form>
    </div>
    <table border="1" width="100%">
        <tr>
            <th>ID</th>
            <th width="40%">标题</th>
            <th>
                
                发表日期
                <a href="?order_by=date&order_way=asc<?=getUrl(['order_by','order_way'])?>"  <?php if(@$_GET['order_by']=='date' && @$_GET['order_way']=='asc') echo 'class="order_active"' ?> >㊤</a>
                <a href="?order_by=date&order_way=desc<?=getUrl(['order_by','order_way'])?>" <?php if(@$_GET['order_by']=='date' && @$_GET['order_way']=='desc') echo 'class="order_active"' ?> >㊦</a>
            </th>
            <th>修改日期</th>
            <th>是否显示</th>
            <th>
                浏览量
                <a href="?order_by=display&order_way=asc<?=getUrl(['order_by','order_way'])?>" <?php if(@$_GET['order_by']=='display' && @$_GET['order_way']=='asc') echo 'class="order_active"' ?>>㊤</a>
                <a href="?order_by=display&order_way=desc<?=getUrl(['order_by','order_way'])?>" <?php if(@$_GET['order_by']=='display' && @$_GET['order_way']=='desc') echo 'class="order_active"' ?>>㊦</a>
            </th>
            <th>操作</th>
            <?php foreach($data as $v): ?>
            <tr>
                <td><?=$v['id']?></td>
                <td><a href="/contents/<?=$v['id']?>.html"><?=$v['title']?></a></td>
                <td><?=$v['created_at']?></td>
                <td><?=$v['updated_at']?></td>
                <td><?= $v['is_show']==1?'显示':'不显示' ?></td>
                <td><?=$v['display']?></td>
                <td>
                    <a href="">修改</a>
                    <a href="">删除</a>
                </td>
            </tr>
            <?php endforeach; ?>
        </tr>
    </table>
    <br>
    <?=$btns?>

    <?php view('common.footer') ?>
</body>
</html>
