<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?=$blog['title']?></title>
</head>
<body>
    <?php view('common.nav') ?>

    <h1><?=$blog['title']?></h1>
    <p>浏览量:<span id="display"></span></p>
    <p><?=$blog['content']?></p>

    <?php view('common.footer') ?>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
<script>
    var id = "<?=$blog['id']?>";
    var url = "/blog/display?id="+id;
    $.ajax({
        type:"GET",
        url:url,
        success:function(data)
        {
            $('#display').html(data);
        }
    })
</script>